* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  color: #8a9ecf;
  background-color: #0f1020;
  margin: 0;
}

/* =================
   Typography
   ================= */

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #e4ff78;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
}

h3,
.email {
  font-size: 1.5rem;
  font-weight: 700;
  color: #789eff;
  margin-bottom: 0.25em;
}

span {
  color: #d4d4d4;
}
.email,
.project {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #e4ff78;
  border-radius: 50px;
  padding: 1em 2.5em;
  color: #e4ff78;
}

.wagon-link {
  text-decoration: none;
  color: #e4ff78;
}
.wagon-link:hover {
  color: #8a9ecf;
}
.email:hover,
.project:hover {
  background-color: #0f1020;
  color: #8a9ecf;
  border: 2px solid #8a9ecf;
}

/* =================
   layout
   ================= */

.main-container {
  /* margin: 0 auto; */
  width: 100%;
  padding: 0 1.5em 1.5em 1.5em;
  background-color: #0f1020;
}

.section-info {
  padding-top: 4em;
  margin: 0 auto;
  max-width: 500px;
}

.profile-description {
  margin-bottom: 2em;
}
.card-project {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 0.25em;
  padding-bottom: 3.2em;
}

.profile {
  padding-bottom: 1.6em;
}

.card-skills {
  margin-bottom: 3em;
  font-size: 0.875rem;
  color: #d4d4d4;
}
.profile-description,
.card-info,
.card-skills,
ul {
  line-height: 1.4em;
}

.projects {
  margin-top: 4em;
}

.list {
  display: flex;
  padding-bottom: 1.6em;
}

.skills {
  max-width: 500px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  padding-left: 0;
  color: #d4d4d4;
}

ul li {
  list-style: none;
}

footer {
  max-width: 500px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

footer a {
  color: #e4ff78;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.5em;
}

footer a:hover {
  color: #8a9ecf;
}

/* =================
   media queries
   ================= */
@media (max-width: 415px) {
  .section-info {
    padding-top: 1.25em;
    margin: 0 auto;
    max-width: 500px;
  }
}
/*  .profile {
    display: flex;
    justify-content: space-between;
  }

  .section-info {
    width: 800px;
    margin-top: 1em;
  }

  .profile-description {
    max-width: 500px;
  }

  img {
    width: 100%;
    object-position: top;
  }

  .projects {
    display: flex;
    justify-content: space-between;
  }

  .card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
  }

  .card {
    max-width: 500px;
  }

  h2 {
    margin: 0;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .list {
    display: flex;
    width: 800px;
  }

  ul {
    max-width: 500px;
  }

  footer {
    display: flex;
  }

  .contact {
    margin-right: auto;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
  }
} */
