* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: #151515;
  background: #E5E5E5;
}


/* =================
   Typography
   ================= */

h1 {
  font-size: 1.125rem;
  font-weight: 800;
}

h2 {
  font-size: 2.215rem;
  font-weight: 700;

}

h3,
.email {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;

}

.email {
  text-decoration: none;
  color: black;
  align-self: center;
}

img {
  width: 100%;
  height: 425px;
  object-fit: cover;
  border-radius: 4px;
}

.project {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 1em 2.5em;
  color: #151515;

}

.project:hover {
  background-color: black;
  color: #E5E5E5;
}

/* =================
   layout
   ================= */

.main-container {
  margin: 0 auto;
  width: 90%;
  padding: 0.5 0.5em;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  border-bottom: 1px solid #000000;
}

.card {
  margin-top: 0.25em;
  padding-bottom: 2em;

}


.profile {
  border-bottom: 1px solid #000000;
  padding-bottom: 2em;
}

.profile-description,
.card-info {
  line-height: 1.25em;
}

.projects {
  border-bottom: 1px solid #000000;
}


.card-border {
  border-bottom: 1px solid #000000;
}

.card-skills {
  margin-bottom: 2em;

}




.list {
  display: flex;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-left: 0;

}

ul li {
  list-style: none;
}

footer {
  border-top: 1px solid black;
  margin-bottom: 1.5em;

}


.footer-links {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;

}

.link {}

/* =================
   media queries
   ================= */
@media (min-width: 400px) {

  .profile {
    display: flex;
    justify-content: space-between;
  }

  .section-info {
    width: 800px;
    margin-top: 1em;
  }

  .profile-description {
    max-width: 500px;
  }

  img {
    width: 100%;
    object-position: top;
  }

  .projects {
    display: flex;
    justify-content: space-between;

  }


  .card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;

  }

  .card {
    max-width: 500px;

  }

  h2 {
    margin: 0;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .list {
    display: flex;
    width: 800px;
  }

  ul {
    max-width: 500px;
  }

  footer {
    display: flex;
  }

  .contact {
    margin-right: auto
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
  }
}
