body {
 font-family: 'IBM Plex Sans', sans-serif;
}

.banner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #6c3bf5;

}

.picture {
  width: 50%;
  background-position: 50%;
  height: calc(var(--vh, 1vh)*100);
  background-image: url("images/chimis_bw.jpg");
  background-size: cover;
}

.banner-text {
  /* align-content: center; */
  padding-right: 75px;
  padding-left: 75px;
  width: 50%;
}

.intro {
  font-weight: 400!important;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: white;

}


.btn-primary {
  margin-top: 15px;
  background-color: #6c3bf5!important;
  border-color: white!important;
  border-width: 2px!important;
  text-transform: uppercase;
  font-size: 1rem!important;
  font-weight: 600!important;
  letter-spacing: 0.02rem;
}

.btn-primary:hover {
  background-color: transparent!important;
  border-color: #FF90E7!important;
  border-width: 2px!important;
  color: #FF90E7!important
}
 html {
  -webkit-font-smoothing: antialiased;
 }

/* decoding my journey  */

.container-fluid {
  padding: 30px 30px 18px 30px;
}

 .description {
   font-weight: regular;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #222222;
    margin: 30px auto;
    width: 60%;
 }

.content {
  max-width: 1080px;
  margin: 0 auto;
}
 h2 {
  font-weight: 700!important;
   font-size: 1.6rem!important;
   color: #6C3BF5;
   letter-spacing: -0.02rem;

}

h3 {
  font-size: 1.2rem!important;
  font-weight: 700!important;
}

.caret {
  display: flex;
  margin-top: 40px !important;
}

.caret-image {
  width: 30px;
  padding-left: 15px;
  margin-top: -5px;

}
/* projects */

.flexbox-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #D8D8D9;
  padding: 40px 170px;
  align-items: flex-start;
  gap: 30px;


}
 .flexbox-item {
  width: 500px;
}

.item-1 {
  flex-shrink: 0;
  width: 400px;
}
.item-2{
  flex-grow: 1;
  flex-basis: 0;
}

.title {
  font-size: 1.6rem!important;
}
p {
  font-weight: regular;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color:#222222;
}

.skills {
  color: #222222;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  width: 80%;
}

#line {
  border-bottom: 1px solid white;

}

.project-link {
  text-decoration: none;
  color: #6C3BF5;
}

.project-link:hover {
  color: #FF2DD2;
}

/* footer */

.footer {
  background: #6C3BF5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 30px;
  /* color: rgba(0, 0, 0, 0.3); */
}

.footer-links {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color:#FF90E7;
}

.footer-copyright {
  color: white;
}
/* responsive design */

 /* Small & Medium devices (tablets, 768px and up) */
 @media (max-width: 768px) {
    .picture {
      width: 100%;
    }
  }

 /* .project-image {
   width: 100%;
 } */



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

 /* X-Large devices (large desktops, 1200px and up) */
 /* /* @media (min-width: 1200px) {

} */
