body {
 font-family: 'IBM Plex Sans', sans-serif;
}


.banner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #6c3bf5;
}

.banner-text {
  align-items: center;
  padding-right: 75px;
  padding-left: 75px;
}

.intro {
  font-weight: 400!important;
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
}

.picture {
  width: 50%;
}

.btn-primary {
  margin-top: 15px;
  background-color: #6c3bf5!important;
  border-color: white!important
}

.btn-primary:hover {
  background-color: transparent!important;
  border-color: #84FFD3!important;
	color: #84FFD3!important
}
 html {
  -webkit-font-smoothing: antialiased;
 }

/* decoding my journey  */

.container-fluid {
  padding: 30px;
}

 .description {
   font-weight: regular;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #222222;
    margin: 0 auto;
    width: 60%;
 }

.content {
  max-width: 1080px;
  margin: 0 auto;
}
 h2 {
  font-weight: 700!important;
   font-size: 1.9rem;
   color: #6C3BF5;
   letter-spacing: -0.02rem;

}

/* projects */

.container-projects {
  background-color: #D8D8D9;
  padding: 30px;
}

.flexbox {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  gap: 30px;
}

.project-image {
  width: 400px;
}
