body {
 font-family: 'IBM Plex Sans', sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  background-color: #6c3bf5;
  flex-wrap: wrap;

}

.picture {
  width: 50%;
  background-position: 50%;
  height: calc(var(--vh, 1vh)*80);
  background-image: url("images/chimis_bw.jpg");
  background-size: cover;
}

.banner-text {
  padding-right: 75px;
  padding-left: 75px;
  width: 50%;
}

.intro {
  font-weight: 400!important;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: white;

}

.flechaintro {
  width: 30%;
}
.flechita {
  padding-top: 100px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;


}
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }

}

 html {
  -webkit-font-smoothing: antialiased;
 }

/* decoding my journey  */

.container-fluid {
  padding: 30px 30px 18px 30px;
}

 .description {
   font-weight: regular;

    margin: 30px auto;
    width: 60%;
 }

p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #222222;
}

.content {
  max-width: 1080px;
  margin: 0 auto;
}
 h2 {
  font-weight: 700!important;
   font-size: 1.6rem!important;
   color: #6C3BF5;
   letter-spacing: -0.02rem;

}

h3 {
  font-size: 1.2rem!important;
  font-weight: 700!important;
}



.caret {
  display: flex;
  margin-top: 40px !important;
}

.caret-image {
  width: 30px;
  padding-left: 15px;
  margin-top: -5px;

}
/* projects */

.main {
  width: 100%;
  background-color: #E2e2e5;
  padding: 0 30px;
}

.flexbox-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0px;
  align-items: flex-start;
  gap: 30px;
  max-width: 1080px;
  margin: 0 auto;


}
 .flexbox-item {
  width: 500px;
}

.item-1 {
  flex-shrink: 0;
  width: 400px;
}
.item-1:hover {
  transform: scale(1.04);
  transition:0.5s ease;
}
.item-2{
  flex-grow: 1;
  flex-basis: 0;
}

.title {
  font-size: 1.6rem!important;
}


.skills {
  color: #222222;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  width: 80%;
}

#line {
  border-bottom: 1px solid white;

}

.project-link {
  text-decoration: none;
  color: #6C3BF5;
}

.project-link:hover {
  color: #FF2DD2;
}
/* footer */

.footer {
  background: #6C3BF5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 30px;
  /* color: rgba(0, 0, 0, 0.3); */
}

.footer-links {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color:#FF90E7;
}

.footer-copyright {
  color: white;
}
/* responsive design */

 /* Small & Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .picture {
      width: 100%;
      background-position: 50%;
      height: calc(var(--vh, 1vh)*50);
      background-image: url("images/chimis_bw.jpg");
      background-size: cover;
    }

    .banner-text {
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
      width: 100%;
    }

    .intro {
      font-weight: 1.4rem !important;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: white;

    }

    .flechaintro {
      width: 20%;
    }

    .flechita {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
      width: 200px;
      height: 100px;
      margin: 0 auto;

    }

    .container-fluid {
      padding: 20px;
    }
    .content {
      max-width: 1080px;
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
    }
    .description {
      font-weight: regular;
      margin: 30px auto;
      width: 100%;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: #222222;

    }
    .main {
      padding: 0px 20px;
    }
    .flexbox-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 30px 0px;
      align-items: flex-start;
      gap: 20px;

    }


    .flexbox-item {
      width: 100%!important;
    }

    .footer {
      background: #6C3BF5;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      padding: 25px 30px;

    }

    .footer-links a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      padding: 0px 0px;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .footer-links a:last-child{
      margin-right: 0;
    }


  }
